version: '3'

services:
  backend:
    build:
      context: ./backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend/song_recommendation_backend:/app
      - ./requirements.txt:/app/requirements.txt
      - ./datasets:/app/datasets
      - ./backend/logs:/app/logs

  frontend:
    build:
      context: ./frontend
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
